.responsivecontainer{
  position:absolute;
  top:0; left: 0;
  width: 100vw;
  height: calc((100vw * 235) / 320); /* 320 : 235 = 375 : x */
}

@media only screen and (min-width:768px) {
  .responsivecontainer{
    position:relative; top: auto; left: auto;
    margin:0 auto;
    width: calc(100vw - 40px);
    height: calc(((100vw - 40px) * 235) / 320);
  }
}

@media only screen and (min-width:1024px) {
  .responsivecontainer{
    width: 1000px;
    height: 600px;
  }
}
